.DropDown {
	background-color: #344046;

	position: fixed;
	width: 100vw;
}
@media all and (min-width: 600px) {
	.DropDown {
		display: none;
	}
}
/*.Nav {
	display: flex;
	justify-content: center;
}*/
