.bidOffer {
	height: 75px;
	background-color: white;
	margin: 0 10px 15px;
	box-shadow: 1px 1px 10px #545454;
	position: relative;
}

.winner {
	color: white;
	position: absolute;
	top: 50%;
	transform: translateX(-50%);
	left: 50%;
	transform: translateY(-50%);
	font-size: 2.5rem;
	font-weight: bold;
}

.placerAid {
	display: flex;
	height: 100%;
	padding: 0 10px;
	align-items: center;
}

.userData {
	width: 50%;
	display: flex;
	align-items: center;
}
.imageBox {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	background-color: #ccc;
	margin-right: 10px;
}
.img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.userName {
	font-size: 2.5rem;
	font-weight: 500;
}

.bidData {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.bid {
	font-size: 2.5rem;
	font-weight: 500;
}
