.listItem {
	display: flex;
}

.left {
	width: 50%;
	background-color: red;
	position: relative;
	display: flex;
	align-items: center;
}
.carName {
	font-size: 2rem;
}
.cost {
	font-size: 2rem;
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	top: 50%;
}

.right {
	width: 50%;
	background-color: yellow;
	display: flex;
	justify-content: flex-end;
}
.editButton {
	height: 3rem;
	width: 4rem;
	border-radius: 5px;
	background-color: green;
	margin-right: 10px;
	cursor: pointer;
}

.deleteButton {
	height: 3rem;
	width: 4rem;
	border-radius: 5px;
	background-color: red;
	cursor: pointer;
}

.img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
