.listItem {
	display: flex;
	background-color: #eceff1;
	padding: 6px 25px;
	position: relative;
}

.closed {
	color: white;
	background-color: red;
	position: absolute;
	top: 50%;
	transform: translateX(-50%);
	left: 50%;
	transform: translateY(-50%);
	font-size: 2.5rem;
	font-weight: bold;
}

.left {
	width: 50%;
	position: relative;
	display: flex;
	align-items: center;
}
.carName {
	font-size: 2rem;
}

.push {
	position: absolute;

	right: 47%;
	transform: translateY(-50%);
	top: 50%;
	font-size: 2rem;
}
.cost {
	font-size: 2rem;
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	top: 50%;
}

.right {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.acceptButton {
	height: 3rem;
	width: 4rem;
	background-color: purple;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}
.viewButton {
	height: 3rem;
	width: 4rem;
	border-radius: 5px;
	background-color: blue;
	margin-right: 10px;
	cursor: pointer;
}
.editButton {
	height: 3rem;
	width: 4rem;
	border-radius: 5px;
	background-color: green;
	margin-right: 10px;
	cursor: pointer;
}

.deleteButton {
	height: 3rem;
	width: 4rem;
	border-radius: 5px;
	background-color: red;
	cursor: pointer;
}

.img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

@media all and (max-width: 1100px) {
	.left {
		width: 70%;
	}
	.right {
		width: 30%;
	}
	.carName {
		font-size: 1.3rem;
	}
	.cost {
		font-size: 1.3rem;
	}
	.push {
		font-size: 1.3rem;
	}
}
@media all and (max-width: 650px) {
	.carName {
		font-size: 0.8rem;
	}
	.cost {
		font-size: 0.8rem;
	}
	.push {
		font-size: 0.8rem;
		right: 44%;
	}
	.viewButton {
		width: 2.4rem;
	}
	.editButton {
		width: 2.4rem;
	}
	.deleteButton {
		width: 2.4rem;
	}
	.acceptButton {
		width: 2.4rem;
	}
}
