.profileBoard {
	background-color: #bdbdbd;
	height: 100%;
}

.item {
	background-color: #fafafa;
	font-size: 2.5rem;
	margin: 20px 0;
	height: 35px;
	box-shadow: 1px 1px 10px #545454;
}

@media all and (max-width: 650px) {
	.item {
		font-size: 2.7rem;

		height: 60px;
	}
}
