.dashNavItem {
	height: 50px;
	background-color: #344046;
}

.fixer {
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.active {
	height: 100%;
	background-color: #b8232c;
}
.navName {
	font-size: 2.5rem;
}
