.carCard {
	background-color: #ccc;
	height: 100%;
	position: relative;
	margin-right: 30px;
	flex-shrink: 0;
	cursor: pointer;
}
.imageBox {
	height: 100%;
	width: 100%;
	position: absolute;
}
.carImage {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}
.infoBox {
	height: 45%;
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	opacity: 0.7;
	color: black;
}

.info {
	background-color: #100f0b;
	height: 100%;
	width: 25%;
	text-align: center;
	padding: 10px 2px 0;
}

.infoHeader {
	font-size: 1.9rem;
	font-weight: bold;
	margin-bottom: 20px;
	color: white;
}

.infoText {
	font-size: 1.9rem;
	color: white;
}

@media all and (max-width: 1400px) {
	.infoBox {
		width: 70%;
	}
}

@media all and (max-width: 1000px) {
	.infoBox {
		width: 90%;
	}

	.infoHeader {
		font-size: 1.6rem;
	}
}

@media all and (max-width: 600px) {
	.carCard {
		margin: 0 20px;
	}

	.infoHeader {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
	.infoBox {
		width: 100%;
		height: 30%;
		left: 0;
	}
}
